body{
	background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
	font-family: monospace;
}
.lists{
	display:flex;
	justify-content: center
}
button{
	width: 200px;
	height: 40px;
	margin: 30px;

}
input{
	width: 400px;
	height: 40px;
	background:transparent;
	font-size: 30px;
	border: 1px solid purple;
	font-family: monospace;
	color: white;
}
ul{
	margin-left:50px; 
}
ul li {
	font-size: 23px;

}
button{
	border: none;
	border-left: 1px solid purple;
	border-bottom: 1px solid purple;
	background: none;
	color:black;
	font-size: 25px ;
	position: relative;


}
button::after{
	content: "";
	position: absolute;
	top: 100%;
	right: 100%;
	left: 0px;
	bottom: 0px;
	transition: 0.7s
	background-color: purple;
	z-index: -1;


}
button:hover::after{
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: purple;
	z-index: -1;
	transition: 0.7s


}
button::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 100%;
	bottom: 100%;
	transition: 0.3s
	background-color: purple;
	z-index: -1;


}
button:hover::before{
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: purple;
	z-index: -1;
	transition: 0.3s;
	filter: blur(10px);

}
button:hover{
	transform: scale(1.4);
	transition: 0.4s;
	color:white;


}